@{
    ViewBag.Title = "Downloads";
}

<div class="jumbotron">
    <h1>Downloads</h1>
    <p class="lead">Download the UW Abroad Mobile App APK!</p>
    <p><a href="https://www.android.com/" class="btn btn-primary btn-lg">Download it here! &raquo;</a></p>
</div>