
*.config
*.lock
*.ide
*.cache
*.cache
*.ide-shm
*.ide-wal
*.ide-wal
*.cache
*.cache
*.cache
*.cache
azure-backend/.vs/SapWebAppService/v15/.suo
azure-backend/.vs/SapWebAppService/v16/.suo
azure-backend/SapWebAppService/obj/Debug/SapWebAppService.csproj.CoreCompileInputs.cache
azure-backend/SapWebAppService/obj/Debug/SapWebAppService.csprojAssemblyReference.cache
azure-backend/SapWebAppService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
azure-backend/SapWebAppService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
azure-backend/SapWebAppService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
azure-backend/.vs/SapWebAppService/v16/.suo
azure-backend/.vs/SapWebAppService/v16/.suo
azure-backend/.vs/SapWebAppService/v16/Server/sqlite3/storage.ide-shm
azure-backend/.vs/SapWebAppService/v16/Server/sqlite3/storage.ide-wal
azure-backend/SapWebAppService/obj/Debug/SapWebAppService.csprojAssemblyReference.cache
*.dll
*.pdb
azure-backend/SapWebAppService/obj/**
azure-backend/SapWebAppService/bin/**
azure-backend/SapWebAppService/.vs/**

